<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Stock Form</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-5 w-50">
            <h2>Stock Form</h2>
            <hr>
            <form action="#" th:action="@{/stocks/save}" th:object="${stock}" method="post">
                <input type="hidden" th:field="${stock.id}"/>
                <div class="mb-3">
                    <input type="text" th:field="${stock.productName}" class="form-control" id="name" placeholder="ProductName" th:errorclass="is-invalid"/>
                    <div id="nameValidation" class="invalid-feedback" th:errors="${stock.productName}"></div>
                </div>
                <div class="mb-3">
                    <input type="number" th:field="${stock.quantity}" class="form-control" id="description" placeholder="Quantity" th:errorclass="is-invalid"/>
                    <div id="descriptionValidation" class="invalid-feedback" th:errors="${stock.quantity}"></div>
                </div>
                <button type="submit" class="my-3 btn btn-primary btn-dark">Submit</button>
                <a th:href="@{/stocks/list}" class="btn btn-primary btn-dark">Back to Stocks List</a>
            </form>
        </div>

    </body>
</html>